html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  
}
.nav-link{
color: white;
}
.nav-link:hover{
color:#fca311;
border-bottom: 1px solid #fca311;
}
#intro{
margin: 0;
max-width: 100%;
padding: 0;
height: 95vh;
background-color: #14213d;
}

.left-cont{
max-width: 15vw;
}
.right-cont{
max-width: 85vw;
padding-top: 12%;
>h1{
min-width:50%;

color: white;
>.drop{
  color: #fca311;
}
}
>p{
color: #fca311;
font-size: 20px;
}
}
.intro-row{
background-color: #14213d;
}
#skills{
padding-top: 50px;
height: auto;
>h2{
width: 50%;
border-bottom: 2px solid #fca311;
padding-bottom: 7px;
}
>.row{
>.col-3{
  max-height: 220px;
  min-height: 50px;
}
>.col-3:hover{
border: 2px solid #fca311;
border-radius: 2rem;
}
}

}

#projects{
height: auto;
padding: 50px;
background-color: #14213d;

max-width: 100%;
>h2{
width: 50%;
border-bottom: 2px solid #fca311;
padding-bottom: 7px;
color: white; 
}
>.row{
>.project{
  padding-top: 50px;
  >.project{
      margin-left: auto;
      margin-right: auto;
  }
}
}
}
#education{
max-width: 100%;
padding: 50px;
>h2{
width: 50%;
border-bottom: 2px solid #fca311;
padding-bottom: 7px;
}
>.row{
padding: 50px;
>.ed{
  
  >.card{
      margin-right: auto;
  margin-left: auto;
      >img{
          max-height: 200px;
          max-width: 200px;
          margin-left: auto;
          margin-right: auto;
      }
  }
}
}

}
.footer{
padding: 25px;
padding-right: 50px;
>p{margin-bottom: 0; text-align: center;}
}
iframe{
max-width: 100vw;
min-width: 50vh;

}
